+++++++++++++++ Welcome to {{ ansible_hostname }} ++++++++++++++++++
<br>
This system  is managed by Ansible.<br>
Today it is {{ ansible_date_time.date }}.

<br>
Here are the Properties of this sytem 
<br>
{{ ansible_nodename }}<br>
{{ ansible_processor }}<br>
{{ ansible_distribution }}<br>
{{ ansible_default_ipv4 }}<br>

 --- Pradeep ---
 <br>
 